---
import Analytics from '@vercel/analytics/astro';

interface Props {
  title?: string;
  description?: string;
}

const { title = 'Ethan Reimann', description = 'The personal website of Ethan Reimann' } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <Analytics />
  </head>
  <body>
    <div class="site-wrapper">
      <slot />
    </div>
  </body>
</html>

<style is:global>
  @import '../styles/global.css';
</style>
